name: Go Matrix Test

on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        default: "."

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.22, 1.23, 1.24, 1.25]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test
        run: go test ./...
        working-directory: ${{ inputs.working-directory }}